@import '../../../assets/styles/colors';

.SideBarContainer {
  background-color: $page_color;
  width: 15rem;
  height: 100%;
  border-right: 0.01rem solid $black;
  padding: 0rem 1rem;
  img {
    width: 6rem;
  }
}
