$primary_color: #007bff !default;
$secondary_color: #6c757d;
$page_color: rgba(0, 217, 255, 0.097);
$white: #fff;
$lightgrey: lightgrey;
$darkgrey: darkgrey;
$black: rgba(0, 0, 0, 0.405);
$red: #dc3545;
